Theory Questions


1. What are data structures, and why are they important?
- Data structures organize and store data efficiently.  
They help in accessing and modifying data quickly.  
Good structures lead to better performance in code.


2. Explain the difference between mutable and immutable data types with examples.
- Mutable types (like lists) can be changed after creation.  
Immutable types (like tuples, strings) can’t be changed once set.  
Example: `list.append()` works, but `tuple.append()` doesn’t.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable and slower, while tuples are immutable and faster.  
Tuples use less memory and are good for fixed data.  
Lists are flexible for dynamic data.

4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs.  
They use a hash table internally for fast lookups.  
Each key maps directly to its corresponding value.

5. Why might you use a set instead of a list in Python?
- Sets automatically remove duplicate values.  
They’re great for membership checks—faster than lists.  
They’re useful when order doesn’t matter.

6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters, immutable in nature.  
A list can contain any data types and is mutable.  
Strings can’t be changed; lists can.

7. How do tuples ensure data integrity in Python?  
- Tuples are immutable, so their data can’t be changed.  
This ensures the contents stay constant over time.  
Great for storing fixed, protected data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table maps keys to values using a hash function.  
Dictionaries in Python are implemented as hash tables.  
This allows fast access to values via keys.

9. Can lists contain different data types in Python?
- Yes, Python lists can hold mixed data types.  
For example, `[1, "hello", 3.5]` is valid.  
This makes lists flexible and powerful.


10. Explain why strings are immutable in Python.
- Strings are immutable for performance and safety.  
Once created, their value can’t change.  
This allows Python to optimize memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer fast lookups by keys.  
They’re ideal for labeled data, like user profiles.  
Lists require iteration to find elements.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when data shouldn’t change—like coordinates.  
For example, storing a fixed location: `(40.7, -74.0)`.  
It ensures data stays intact.


13. How do sets handle duplicate values in Python?
- Sets automatically discard duplicates.  
Adding the same value twice keeps only one.  
This helps maintain unique data.


14. How does the “in” keyword work differently for lists and dictionaries?  
- In lists, `in` checks values; in dictionaries, it checks keys.  
Example: `5 in [1,2,5]` vs. `'name' in {'name':'Rani'}`.  
Dictionaries offer faster lookup due to hashing.


15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable.  
Once created, you can’t change their elements.  
This protects the data from accidental changes.


16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary has dictionaries inside dictionaries.  
Example: `{"user": {"name": "Yash", "age": 25}}`.  
Useful for structured, multi-level data.


17. Describe the time complexity of accessing elements in a dictionary.  
- Accessing dictionary elements is O(1) on average.  
Thanks to hash tables, it's very efficient.  
Worst-case is rare but can be O(n).


18. In what situations are lists preferred over dictionaries?
- Use lists when order matters or duplicates are allowed.  
They’re simpler for sequences like a to-do list.  
Dictionaries aren’t ideal for ordered data before Python 3.7.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
- Before Python 3.7, dictionaries didn’t maintain order.  
So you couldn’t rely on key order when iterating.  
Now they do, but order isn’t always guaranteed logically.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use index positions for access (e.g., `list[0]`).  
Dictionaries use keys (e.g., `dict["name"]`).  
Dicts are faster for key-based lookups.

In [1]:
#1. Create a string with your name and print it

name = "Yashashree"
print(name)

Yashashree

In [2]:
#2. Find the length of the string "Hello World"

s = "Hello World"
print(len(s))

11

In [4]:
#3. Slice the first 3 characters from the string "Python Programming"

s = "Python Programming"
print(s[:3])

Pyt

In [5]:
#4. Convert the string "hello" to uppercase

s = "hello"
print(s.upper())

HELLO

In [6]:
#5. Replace the word "apple" with "orange" in the string "I like apple"

s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [7]:
#6. Create a list with numbers 1 to 5 and print it

lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [9]:
#7. Append the number 10 to the list [1, 2, 3, 4]

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5]

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
#9. Access the second element in the list ['a', 'b', 'c', 'd']

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [12]:
#10. Reverse the list [10, 20, 30, 40, 50]

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
#11. Create a tuple with the elements 100, 200, 300 and print it

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [14]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [15]:
#13. Find the minimum number in the tuple (10, 20, 5, 15)

t = (10, 20, 5, 15)
print(min(t))

5

In [16]:
#14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [17]:
#15. Create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [18]:
#16. Create a set with the elements 'a', 'b', 'c' and print it

s = {'a', 'b', 'c'}
print(s)

{'c', 'b', 'a'}

In [19]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [20]:
#18. Remove the element 4 from the set {1, 2, 3, 4}

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [21]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [22]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [23]:
#21. Create a dictionary with the keys "name", "age", and "city", and print it

d = {"name": "John", "age": 30, "city": "New York"}
print(d)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [24]:
#22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [25]:
#23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [26]:
#24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [27]:
#25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [28]:
#26. Create a list, a tuple, and a dictionary, and print them all

lst = [1, 2, 3]
tup = (4, 5, 6)
d = {'a': 7, 'b': 8}
print(lst, tup, d)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [29]:
#27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[4, 46, 67, 79, 88]

In [30]:
#28. Create a list with strings and print the element at the third index

lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

In [31]:
#29. Combine two dictionaries into one and print the result

a = {'x': 1, 'y': 2}
b = {'z': 3}
a.update(b)
print(a)

{'x': 1, 'y': 2, 'z': 3}

In [32]:
#30. Convert a list of strings into a set

lst = ["apple", "banana", "cherry"]
s = set(lst)
print(s)

{'banana', 'apple', 'cherry'}